.root{
    margin: 0px auto;
}


.letras{
    height: 90px;
    width: 654px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}

img{
    height: 400px;
    width: 400px;
    margin-left: -20px;
}

.letra{
    height: 40px;
    width: 40px;
    background-color: grey;
    border-radius: 3px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(70, 70, 70);
    font-weight: 700;
    box-sizing: border-box;
}

.letra:hover{
    border: 2px solid black;
    cursor: pointer;
}

.corpo{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    width: 700px;
    height: 400px;
}

.escolher-palavra{
    margin-top: 25px;
    height: 50px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 148, 41);
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.escolher-palavra:hover{
    color: rgb(199, 198, 198);
    cursor: pointer;
}

.palavra-escolhida{
    width: 280px;
    height: 50px;
    font-size: 27px;
    font-weight: 600;
    color: black;
    display: flex;
}

.palavras{
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.input{
    display: flex;
    height: 50px;
    width: 500px;
    margin: -30px auto;
    align-items: center;
    justify-content: space-around;
}

.input > input{
    border-radius: 1px;
    height: 30px;
    width: 230px;
    border: 1px solid gray;
}
.input > button{
    height: 35px;
    width: 70px;
    background-color: aquamarine;

    border-radius: 3px;
    font-weight: 700;
    color: rgb(33, 33, 243);
}
.input > button:hover{
    border: 2px solid rgb(18, 2, 255);
}


.initial{
    opacity: 0.5;
}

.initial:hover{
    border: none;
}

.red{
    color: red;
}
.green{
    color:green;
}